body {
    background-color: white;
}

.results-margin {
    margin-right: 50px !important;
}

#individualResult {
    border: groove 2px black;
    background-color: gold;
    font-size: larger;
    font-weight: bolder;
}

#businessResult {
    border: groove 2px black;
    background-color: gold;
    font-size: larger;
    font-weight: bolder;
}

@media (min-width: 768px){
    .calcside {
        position: absolute;
        top: 120px;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }

    .resultside {
        position: absolute;
        top: 120px;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
    }
}

.centered {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox] {
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
}

.box{
    border: 1px solid black;
}

.bold{
    font-weight:bold;
}

.vertical-center{
    margin-top: auto;
}