body {
    background-color: #dddddd;
}

.main-body {
    background-color: white;
}

.nav-header {
    margin: auto;
    width: 100%;
}

.main-buttons {
    padding-top: 25px;
}

.subheading {
    text-align: center;
}

.test {
    display: inline-block;
}