<h1>Business Form</h1>
<h3 class="subheading">Current employer’s annual health insurance/medical benefits expenses</h3>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-8 control-label">Employer’s annual employee insurance premiums/medical benefits expense</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Employer’s personal health insurance costs (if sole proprietor)</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Annual workers’ compensation insurance ___________ x 0.59</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Annual vehicle medical coverage</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Estimate annual expense for administering employee health care plans and the medical part of the workers’ compensation system</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Total current health coverage expense</label>
    </div>
    <h3>ColoradoCare employer’s annual health care/medical benefits expenses</h3>

    <div class="form-group">
        <label class="col-sm-8 control-label">Annual ColoradoCare premiums = (total annual payroll) x .0667</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">If contract with union, other contract, or agreement to pay
            employees’ 3.33% premium = (employee wages) x .0333</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Total ColoradoCare health coverage expense</label>
    </div>

    <div class="form-group">
        <label class="col-sm-8 control-label">Difference in Employer expenses: Current vs. ColoradoCare</label>
    </div>
</form>