<h2>Business Form</h2>
<h4 class="subheading">Current employer’s annual medical benefits expense</h4>
<p>
    Note: Calculations are for all employees who are residents of Colorado income tax withholding.
</p>
<p>
    Note: If your employer pays more than the required share, your amount will be less.
</p>

<form class="form-horizontal">
    <div ng-show="vm.form1">
        <div class="form-group">
            <label class="col-sm-5 control-label">Employer’s annual medical benefits expense <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.premium">
                <span class="input-group-addon">.00</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Annual workers’ compensation insurance <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.worker">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Estimate annual expense for administering employee health care plans and the medical part of the workers’ compensation system <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.admin">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Total annual payroll for Colorado residents <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.payroll">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <button class="btn btn-default" ng-click="vm.next()">Next</button>
        <button class="btn btn-default" ng-click="vm.clear()">Clear</button>
    </div>

    <div ng-show="!vm.form1">
        <div class="form-group">
            <label class="col-sm-5 control-label">Total current health coverage expense <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <p class="form-control-static">${{vm.healthexpense}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Total ColoradoCare health coverage expense <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <p class="form-control-static">${{vm.ccexpense}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Difference in Employer expenses: Current vs. ColoradoCare <i class="fa fa-question-circle" uib-tooltip="Help Text" ng-show="vm.nohelp"></i></label>
            <div class="input-group col-sm-2">
                <p class="form-control-static">${{vm.difference}}</p>
            </div>
        </div>
        <button class="btn btn-default" ng-click="vm.back()">Back</button>
        <button class="btn btn-default" ng-click="vm.startover()">Start Over</button>
    </div>
</form>