<!--Complex version -->
<h2>Business Form</h2>
<h4 class="subheading">Current employer’s annual medical benefits expense</h4>
<p>
    Note:  Calculations are for all employees who are subject to Colorado income tax withholding.
</p>


<form class="form-horizontal">
    <div class="col-sm-6 calcside">
        <div class="form-group">
            <label class="col-sm-7 control-label">Employer’s annual medical benefits expense</label>
            <div class="input-group col-sm-4">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.premium" ng-blur="vm.calculate()">
                <span class="input-group-addon">.00</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-7 control-label">Annual workers’ compensation insurance</label>
            <div class="input-group col-sm-4">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.worker" ng-blur="vm.calculate()">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-7 control-label">Estimate annual expense for administering employee health care plans
                and the medical part of the workers’ compensation system</label>
            <div class="input-group col-sm-4">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.admin" ng-blur="vm.calculate()">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-7 control-label">Total annual payroll for Colorado residents</label>
            <div class="input-group col-sm-4">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                       ng-model="vm.form.payroll" ng-blur="vm.calculate()">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <button class="btn btn-default" ng-click="vm.clear()">Clear</button>
    </div>

    <div class="col-sm-6 resultside">
        <p>
            Note:  If your employer pays more than the required share, your amount will be less.
        </p>
        <div class="form-group">
            <label class="col-sm-7 control-label">Total current health coverage expense</label>
            <div class="input-group col-sm-4">
                <p class="form-control-static">${{vm.healthexpense}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-7 control-label">Total ColoradoCare health coverage expense</label>
            <div class="input-group col-sm-4">
                <p class="form-control-static">${{vm.ccexpense}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-7 control-label">Difference in Employer expenses: Current vs. ColoradoCare</label>
            <div class="input-group col-sm-4">
                <p class="form-control-static">${{vm.difference}}</p>
            </div>
        </div>
    </div>
</form>