<h1>Individual Form</h1>
<h3 class="subheading">Worksheet for comparing your current health care coverage to ColoradoCare</h3>

<div ng-show="form1">

</div>

<form class="form-horizontal">
    <h4>Your current health care plan</h4>
    <div class="form-group">
        <label class="col-sm-8 control-label">Annual premium expense</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Deductible expense</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Expenses for health care services not covered by your plan</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Copayments and cost-sharing expenses: Provider visits/ yr. Labs and tests/yr. Medications/yr. </label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Estimate annual expense for administering employee health care plans and the medical part of the workers’ compensation system</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Estimated total expenses</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Total current health coverage expense</label>
    </div>

    <h3>ColoradoCare</h3>
    <div class="form-group">
        <label class="col-sm-8 control-label">Payroll premium expense (Annual wages x 3.33%) </label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Non-payroll premium expense (All income that is not on a W-2— this premium can be calculated on the worksheet on the back of this page)</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Deductible expense </label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Comprehensive benefits with very few services not covered. (See attached list of benefits)</label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">No copayments for most primary care or prevention services, and if any, are waived for those with financial need </label>
        <div class="input-group col-sm-4">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-8 control-label">Total ColoradoCare health coverage expense</label>
    </div>

    <div class="form-group">
        <label class="col-sm-8 control-label">Difference in Employer expenses: Current vs. ColoradoCare</label>
    </div>
</form>