<!--Complex version -->
<h2>Individual and/or Family Form</h2>
<h4 class="subheading">Worksheet for comparing your current health care coverage to ColoradoCare</h4>

<form class="form-horizontal">
    <div class="col-sm-12 calcside" ng-hide="vm.resultsShown">
        <div>
            <p class="sectionheading"><b>Your current health care plan</b></p>
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">Monthly insurance premium</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.premium" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">Annual deductible</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.deductible" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">Estimated Annual Co-payments</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.copay" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">Expenses for health care services not covered by your plan</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.expenses" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>

            <p class="sectionheading"><b>ColoradoCare</b></p>
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">Your annual payroll (W-2) Income</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.income" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>

            <!-- setup for other income -->
            <div class="form-group">
                <label class="col-sm-6 col-sm-offset-1 control-label">If you have significant income besides payroll, check here:</label>
                <div class="input-group col-sm-4">
                    <input type="checkbox" class="form-control" ng-model="vm.other">
                </div>
            </div>
            <div class="form-group" ng-show="vm.other">
                <label class="col-sm-6 col-sm-offset-1 control-label">Income reported on IRS Form 1040 lines 8a to 21</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.gross" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>

            <!-- setup for social security income -->
            <div class="form-group" ng-show="vm.other">
                <label class="col-sm-6 col-sm-offset-1 control-label">If you have Social Security and/or retirement income, check
                    here</label>
                <div class="input-group col-sm-4">
                    <input type="checkbox" class="form-control" ng-model="vm.social">
                </div>
            </div>

            <!-- setup for joint or single filing -->
            <div class="form-group" ng-show="vm.social">
                <label class="col-sm-6 col-sm-offset-1 control-label">Check one box:</label>
                <div class="input-group col-sm-4">
                    <label class="checkbox-inline">
                        <input type="radio" ng-model="vm.filing" value="joint"> Joint
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" ng-model="vm.filing" value="single"> Single
                    </label>
                </div>
            </div>

            <!-- for single filing -->
            <div class="form-group" ng-show="vm.other && vm.filing === 'single'">
                <label class="col-sm-6 col-sm-offset-1 control-label">Your Monthly Social Security Income</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.you.monthlySS" >
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="form-group" ng-show="vm.other && vm.filing === 'single'">
                <label class="col-sm-6 col-sm-offset-1 control-label">Annual retirement income from annuity, pension, IRA, etc.</label>
                <div class="input-group col-sm-4">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                           ng-model="vm.form.you.retirement">
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="form-group" ng-show="vm.other && vm.filing === 'single'">
                <label class="col-sm-6 col-sm-offset-1 control-label">Check if you are you over age 55</label>
                <div class="input-group col-sm-4">
                    <input type="checkbox" class="form-control" ng-model="vm.form.you.age1">
                </div>
            </div>
            <div class="form-group" ng-show="vm.other && vm.filing === 'single' && vm.form.you.age1">
                <label class="col-sm-6 col-sm-offset-1 control-label">Check if you are you over age 65</label>
                <div class="input-group col-sm-4">
                    <input type="checkbox" class="form-control" ng-model="vm.form.you.age2">
                </div>
            </div>
            <!--<div class="form-group" ng-show="vm.other && vm.filing === 'single'">-->
                <!--<label class="col-sm-6 col-sm-offset-1 control-label">Retirement Cost</label>-->
                <!--<div class="col-sm-4 ">-->
                    <!--<p class="form-control-static">${{vm.results.calcRetirement}}</p>-->
                <!--</div>-->
            <!--</div>-->


            <!-- for joint filing -->
            <div ng-show="vm.other && vm.filing === 'joint'">
                <!-- questions for you -->
                <h4>For you</h4>
                <div class="form-group">
                    <label class="col-sm-6 col-sm-offset-1 control-label">Your annual retirement income from annuity, pension, IRA,
                        etc.</label>
                    <div class="input-group col-sm-4">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                               ng-model="vm.form.you.retirement" >
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 col-sm-offset-1 control-label">If you receive Social Security check here:</label>
                    <div class="input-group col-sm-4">
                        <input type="checkbox" class="form-control" ng-model="vm.form.you.receiveSS">
                    </div>
                </div>
                <div ng-if="vm.form.you.receiveSS">
                    <div class="form-group">
                        <label class="col-sm-6 col-sm-offset-1 control-label">Your monthly Social Security Income</label>
                        <div class="input-group col-sm-4">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                                   ng-model="vm.form.you.monthlySS">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label class="col-sm-6 col-sm-offset-1 control-label">If you are over age 55, check here:</label>
                        <div class="input-group col-sm-4">
                            <input type="checkbox" class="form-control" ng-model="vm.form.you.age1">
                        </div>
                    </div>
                    <div class="form-group" ng-show="!vm.form.you.age1">
                        <label class="col-sm-6 col-sm-offset-1 control-label">If you over age 65, check here:</label>
                        <div class="input-group col-sm-4">
                            <input type="checkbox" class="form-control" ng-model="vm.form.you.age2">
                        </div>
                    </div>
                </div>

                <!-- questions for spouse -->
                <h4>For your spouse</h4>
                <div class="form-group">
                    <label class="col-sm-6 col-sm-offset-1 control-label">Your annual retirement income from annuity, pension, IRA,
                        etc.</label>
                    <div class="input-group col-sm-4">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                               ng-model="vm.form.spouse.retirement">
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 col-sm-offset-1 control-label">Does your spouse receive Social Security</label>
                    <div class="input-group col-sm-4">
                        <input type="checkbox" class="form-control" ng-model="vm.form.spouse.receiveSS">
                    </div>
                </div>
                <div ng-show="vm.form.spouse.receiveSS">
                    <div class="form-group">
                        <label class="col-sm-6 col-sm-offset-1 control-label">Your monthly Social Security Income</label>
                        <div class="input-group col-sm-4">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                                   ng-model="vm.form.spouse.monthlySS" >
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="col-sm-6 col-sm-offset-1 control-label">Is your spouse over age 55?</label>
                        <div class="input-group col-sm-4">
                            <input type="checkbox" class="form-control" ng-model="vm.form.spouse.age1">
                        </div>
                    </div>
                    <div class="form-group" ng-show="fm.form.spouse.age1">
                        <label class="col-sm-6 col-sm-offset-1 control-label">Is your spouse over age 65?</label>
                        <div class="input-group col-sm-4">
                            <input type="checkbox" class="form-control" ng-model="vm.form.spouse.age2">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-default" ng-click="vm.clear()">Clear</button>
            <button class="btn btn-default" ng-click="vm.calculate()">Calculate</button>
        </div>
    </div>

    <div class="col-sm-12 resultside" ng-show="vm.resultsShown">
        <div>
            <p>Disclaimer: There may be some small copayments required.<br/>
                Note: If your employer pays more than the required share, your amount will be less.
            </p>
            <div class="form-group results-margin">
                <label class="col-sm-7 control-label">Healthcare cost</label>
                <div class="col-sm-4 ">
                    <p class="form-control-static">${{vm.result1}}</p>
                </div>
            </div>
            <div class="form-group results-margin">
                <label class="col-sm-7 control-label">Social Security and Retirement income that applies:</label>
                <div class="col-sm-4">
                    <p class="form-control-static">${{vm.resultFiling}}</p>
                </div>
            </div>
            <div class="form-group results-margin">
                <label class="col-sm-7 control-label">Colorado Care cost</label>
                <div class="col-sm-4 ">
                    <p class="form-control-static">${{vm.result2}}</p>
                </div>
            </div>
            <div class="form-group results-margin" id="individualResult">
                <label class="col-sm-7 control-label">Amount Saved </label>
                <div class="col-sm-4 ">
                    <p class="form-control-static">${{vm.difference}}</p>
                </div>
            </div>
            <p>Note: These totals are an estimate. Copays often shift year to year based on usage. ColoradoCare has no copays for preventative or primary care.</p>
        </div>
        <button class="btn btn-default" ng-click="vm.clear()">Back</button>
    </div>




</form>