<div class="form-group">
    <label class="control-label" for="vmFormW2">Your Annual W2 Income</label>
    <input type="text"
           ng-currency
           class="form-control"
           aria-label="Amount (to the nearest dollar)"
           ng-model="vm.form.w2"
           ng-click="vm.onTextClick($event)"
           ng-change="vm.w2Check()"
           id="vmFormW2">
</div>
<div>
    <label class="required-text">Do you have any significant income other than your W2? (answer is required)</label>
</div>
<div class="form-group">
    <div class="radio">
        <label for="vm.form.otherY">
            <input type="radio"
                   aria-label="File Single"
                   ng-model="vm.form.otherIncome"
                   value="yes"
                   id="vm.form.otherY"> Yes
        </label>
    </div>
    <div class="radio">
        <label for="vm.form.otherN">
            <input type="radio"
                   aria-label="File Join"
                   ng-model="vm.form.otherIncome"
                   value="no"
                   id="vm.form.otherN"> No
        </label>
    </div>
</div>