<div>
    <h5>Please choose your age group:</h5>
</div>
<div class="form-group">
    <div class="radio">
        <label for="vm.form.you.55">
            <input type="radio"
                   aria-label="Age under 55"
                   ng-model="vm.form.spouseA.age"
                   value="under"
                   id="vm.form.you.55"> Under 55
        </label>
    </div>
    <div class="radio">
        <label for="vm.form.you.5565">
            <input type="radio"
                   aria-label="Age 55 to 65"
                   ng-model="vm.form.spouseA.age"
                   value="between"
                   id="vm.form.you.5565"> 55 to 65
        </label>
    </div>
    <div class="radio">
        <label for="vm.form.you.65">
            <input type="radio"
                   aria-label="Age over 65"
                   ng-model="vm.form.spouseA.age"
                   value="over"
                   id="vm.form.you.65"> over 65
        </label>
    </div>
</div>
<div>
    <h5>Please choose your spouse's age group:</h5>
</div>
<div class="form-group">
    <div class="radio">
        <label for="vm.form.you.55">
            <input type="radio"
                   aria-label="Age under 55"
                   ng-model="vm.form.spouseB.age"
                   value="under"
                   id="vm.form.you.55"> Under 55
        </label>
    </div>
    <div class="radio">
        <label for="vm.form.you.5565">
            <input type="radio"
                   aria-label="Age 55 to 65"
                   ng-model="vm.form.spouseB.age"
                   value="between"
                   id="vm.form.you.5565"> 55 to 65
        </label>
    </div>
    <div class="radio">
        <label for="vm.form.you.65">
            <input type="radio"
                   aria-label="Age over 65"
                   ng-model="vm.form.spouseB.age"
                   value="over"
                   id="vm.form.you.65"> over 65
        </label>
    </div>
</div>