<!-- JOINT -->
<div class="form-group">
    <label class="control-label"
           for="vm.form.irsSum">
        Sum of IRS Form 1040 lines 8 to 21 (non payroll income before senior exemptions)
    </label>
    <input type="text" ng-currency
           class="form-control"
           aria-label="Amount (to the nearest dollar)"
           ng-model="vm.form.irsSum"
           min="0" id="vm.form.irsSum">
</div>
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <div class="form-group">
        <label class="control-label"
               for="vm.form.irs20b">
            IRS Form 1040 line 20b (federally taxable portion of Social Security)
        </label>
        <input type="text" ng-currency
               class="form-control"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.irs20b"
               uib-tooltip="Do not enter all of your Social Security. The IRS Form 1040 exempts a large portion of Social Security, and the portion is different for each person. Line 20b is the amount after exemption."
               min="0" id="vm.form.irs20b">
    </div>
</div>

<!-- SPOUSEA -->
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <h3>For You:</h3>

    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseA.monthlySS">
            Monthly Social Security Income (actual amount on checks)
        </label>
        <input type="text" ng-currency
               class="form-control"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.spouseA.monthlySS"
               uib-tooltip="Put the full amount of your monthly Social Security check here."
               min="0" id="vm.form.spouseA.monthlySS">
    </div>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseA.irsRetirement">
            Your portion of IRS Form 1040 lines 15b and 16b (federally taxable retirement income)
        </label>
        <input type="text" ng-currency
               class="form-control"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.spouseA.irsRetirement"
               min="0" id="vm.form.spouseA.irsRetirement">
    </div>
</div>

<!-- SPOUSEB -->
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <h3>For Your Spouse:</h3>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseB.monthlySS">
            Monthly Social Security Income (actual amount on checks)
        </label>
        <input type="text" ng-currency
               class="form-control"
               aria-label="Amount (to the nearest dollar)"
               id="vm.form.spouseB.monthlySS"
               ng-model="vm.form.spouseB.monthlySS"
               min="0"
               uib-tooltip="Put the full amount of your monthly Social Security check here.">
    </div>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseB.irsRetirement">
            Spouse's portion of IRS Form 1040 lines 15b and 16b (federally taxable retirement income)
        </label>
        <input type="text" ng-currency
               class="form-control"
               aria-label="Amount (to the nearest dollar)"
               id="vm.form.spouseB.irsRetirement"
               ng-model="vm.form.spouseB.irsRetirement"
               min="0">
    </div>
</div>
