<!-- JOINT -->
<div class="form-group">
    <label class="control-label"
           for="vm.form.irsSum">
        Sum of IRS Form 1040 lines 8 to 21
    </label> (non payroll income before senior exemptions)
    <input type="text" ng-currency
           class="form-control"
           aria-label="Amount (to the nearest dollar)"
           ng-model="vm.form.irsSum"
           ng-change="vm.nullCheck('irsSum')"
           ng-click="vm.onTextClick($event)"
           min="0" id="vm.form.irsSum">
</div>
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <div class="form-group">
        <label class="control-label"
               for="vm.form.irs20b">
            IRS Form 1040 line 20b
        </label> (federally taxable portion of Social Security)
        <input type="text" ng-currency
               class="form-control"
               ng-change="vm.nullCheck('irs20b')"
               ng-click="vm.onTextClick($event)"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.irs20b"
               uib-tooltip="Do not enter all of your Social Security. The IRS Form 1040 exempts a large portion of Social Security, and the portion is different for each person. Line 20b is the amount after exemption."
               min="0" id="vm.form.irs20b">
    </div>
</div>

<!-- SPOUSEA -->
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <h3>For You:</h3>

    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseA.monthlySS">
            Monthly Social Security Income
        </label> (actual amount on checks)
        <input type="text" ng-currency
               class="form-control"
               ng-change="vm.nullCheck('irsmonthly')"
               ng-click="vm.onTextClick($event)"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.spouseA.monthlySS"
               uib-tooltip="Put the full amount of your monthly Social Security check here."
               min="0" id="vm.form.spouseA.monthlySS">
    </div>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseA.irs15b16b">
            Your portion of IRS Form 1040 lines 15b and 16b
        </label> (federally taxable retirement income)
        <input type="text" ng-currency
               class="form-control"
               ng-change="vm.nullCheck('irs15b16b')"
               ng-click="vm.onTextClick($event)"
               aria-label="Amount (to the nearest dollar)"
               ng-model="vm.form.spouseA.irs15b16b"
               min="0" id="vm.form.spouseA.irs15b16b">
    </div>
</div>

<!-- SPOUSEB -->
<div ng-if="vm.form.spouseA.age !== 'under' || vm.form.spouseB.age !== 'under'">
    <h3>For Your Spouse:</h3>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseB.monthlySS">
            Monthly Social Security Income
        </label> (actual amount on checks)
        <input type="text" ng-currency
               class="form-control"
               ng-change="vm.nullCheck('joint-monthly')"
               ng-click="vm.onTextClick($event)"
               aria-label="Amount (to the nearest dollar)"
               id="vm.form.spouseB.monthlySS"
               ng-model="vm.form.spouseB.monthlySS"
               min="0"
               uib-tooltip="Put the full amount of your monthly Social Security check here.">
    </div>
    <div class="form-group">
        <label class="control-label"
               for="vm.form.spouseB.irs15b16b">
            Spouse's portion of IRS Form 1040 lines 15b and 16b
        </label> (federally taxable retirement income)
        <input type="text" ng-currency
               class="form-control"
               ng-change="vm.nullCheck('joint-irs15b16b')"
               ng-click="vm.onTextClick($event)"
               aria-label="Amount (to the nearest dollar)"
               id="vm.form.spouseB.irs15b16b"
               ng-model="vm.form.spouseB.irs15b16b"
               min="0">
    </div>
</div>
